.product-cards {


    .food {
        padding-left: 20px;
        padding-top: 30px;
    }

    .min {
        display: flex;
        justify-content: center;


    }

    .data {
        .header {
                padding-top: 20px;

            img {
                width: 200px;
                height: 200px;
            }
        }
    }
}