.alls{

       
    
    .ment{
       
        display: flex;
        justify-content: center;
        background-color: rgba(241, 247, 247, 0.729);
        
        .min{
            width: 80%;
            // height: 100vh;
                background-color: rgb(149, 87, 11);
            
            }
    }
}