.address{
    // height: 100%;
    // display: flex ;
    // flex-direction: column;
            padding: 10px;

    .add{
           border: 1px solid black; 
           width: 300px;
           padding: 10px;
        
           

        p{
            margin: 0%;
            // background-color: aquamarine;
            // background-repeat: no-repeat;
            border-width: 30px;


            
        }
        button{
            // display: flex;
            // flex-direction: column;
            justify-content: space-between;
        }

    }
}