.sellerlogin{
    .login {
        background-image: url("https://img.freepik.com/free-photo/shopping-cart-miniature_23-2148081068.jpg?t=st=1712819908~exp=1712823508~hmac=3d44429fe34e251a6c9ce42936dedd227539f7a803b1c7da5fe5ee7e4d0bf890&w=996");
        background-repeat: no-repeat;
        background-size: cover;
        height: 100vh;
        display: flex;

        align-items: center;
        padding-left: 160px;
        padding-top: 9px;
        // margin: 0;
        // padding-top: 10px;

        gap: 10px;
        text-align: justify;
        // margin: 10px 10px;

        .borders {
            background-color: rgba(32, 67, 70, 0.052);
            display: flex;
            flex-direction: column;
            gap: 10px;
            padding: 40px;
            
            border-radius: 40px;
            border: 2px solid black;
        
            margin: 30px 30px;
            font-weight: 600;
            // border-radius: 40px solid black;

            .Name {
                display: flex;
                gap: 10px;
                font-weight: 600;
                color: black;
                #em {
                    border-radius: 6px;
                }
            }

            .password {
                display: flex;
                gap: 10px;
                font-weight: 600;
                color: black;

                #pass {
                    border-radius: 6px;
                }
            }

            h5 {
                text-align: center;
                font-size: x-large;
                margin: 0;


            }

            .submits {

                gap: 50px;
                justify-content: center;
                text-align: center;
                display: flex;
                padding-top: 5px;
                // margin: 0;


                button {
                    width: 80px;
                    height: 20;
                    background-color: rgba(30, 28, 28, 0);
                    border-radius: 20px;
                    margin: 8px 10px;
                    padding: 5px 5px;
                    font-weight: 600;
                    border: 1px solid black;
                    color: black;   



                }
                button:hover{
                    background-color: rgba(251, 250, 251, 0.916);
                }

            }


        }


    }
}