

.pro{
    height: 10vh;
    background-color: rgba(233, 233, 233, 0.477);
    // display: flex;
    // justify-content: space-between;
    // align-items: center;
    padding: 0 20px;
    .pr{
        display: flex;
        justify-content: end;
        gap: 20px;
        height: 100%;
        align-items: center;


        // padding-left: 200px;
        // align-items: center;
        // padding: 0% 50px 0% 30px;
        
        p{
            // padding-right: 50px;
            // padding-left: 60px;
            // padding: 0% 50px 0% 30px;
            // width: 250px;
            margin: 0;
            text-align: right;
            font-weight: 500;
            font-style: italic;
            padding-right: 20px;
        }
    }

    
}


